<%= form_for(@stifler) do |f| %>
  <% if @stifler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stifler.errors.count, "error") %> prohibited this stifler from being saved:</h2>

      <ul>
      <% @stifler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cor %><br>
    <%= f.text_field :cor %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
